cleanvision==0.3.6
datasets==3.2.0
easyocr==1.7.2
hnswlib==0.8.0
keras_ocr==0.9.3
numpy==2.2.1
paddleocr==2.9.1
paddleocr.egg==info
pdf2image==1.17.0
scikit_learn==1.6.1
sentence_transformers==3.3.1
streamlit==1.41.1
torch==2.5.1
tqdm==4.67.1
transformers==4.48.0
